::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #ff9a00;
}
::-webkit-scrollbar-button{
    background-color: #000000c4;
}
::-webkit-scrollbar-thumb{
    background-color: #000000c4;
    border-radius: 40px;
}

/* Nav */
a.nav-link:hover{
    box-shadow: 0px 1px 0px #ff9a00;
    transition: .8s;
}

div#paginaTotal{
    margin-top: 180px;
}

h1{
    text-align: center;
    color: #ff9a00;
    font-family: 'Aclonica', sans-serif;
}

h3{
    text-align: center;
    font-family: 'Aclonica', sans-serif;
}

p{
    color: #ff9a00;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
}

label{
    font-family: 'Aclonica', sans-serif;
    }

div#rowEscolha{
    text-align: center;
}


option:hover{
    background-color: #ff9a00;
}