::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #ff9a00;
}
::-webkit-scrollbar-button{
    background-color: #000000c4;
}
::-webkit-scrollbar-thumb{
    background-color: #000000c4;
    border-radius: 40px;
}

/* Nav */
a.nav-link:hover{
    box-shadow: 0px 1px 0px #ff9a00;
    transition: .8s;
}

div#ctnFluidStart{
    margin-top: 192px;
}

h1{
    color: #ff9a00;
    font-family: 'Aclonica', sans-serif;
}

button.btnChoice{
    background-color: #ff9a00;
    color: black;
    font-family: 'Aclonica', sans-serif;
    font-size: 18px;
}
button.btnChoice:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ff9a00;
    color: #ff9a00;
}
button.btnChoice:active{
    margin-top: -4px;
}